.background-image {
  background-image: url("../image/About.jpg");
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 550px;
}
.fit-content-li {
  width: fit-content;
}
.plan-card {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: fit-content;
}
.plan-title {
  position: relative;
  padding-bottom: 10px;
}
.plan-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #000; /* You can change the color as needed */
  margin: 10px auto 0;
}
.colored i {
  padding: 5px;
}
